html{
	font-size: 62.5%;
}

body{
	margin: 0 auto;
	font-size: 14px; //fall back to older browser
	font-size: 1.4rem;

	line-height: 1.3;
	color: $textColor;
	background-color: $backgroundColor;
	@include bodyType;
}

a { text-decoration: none}

h1{
	font-size: 36px;
	font-size: 3.6em;
}

h2{
	font-size: 24px;
	font-size: 2.4em;
}
h3{
	@include latoLight;
	font-size: 18px;
	font-size: 1.8em;
}

section{
//	@include span-columns(12);
}

#tiledMenu, .icon-library{
	display: none;
}

.logo{
	vertical-align: 0.2em;
	margin-top: -3em;
	font-size: 20px;
	font-size:	2.0rem;
	
	border-radius: 0.5em;
	@include latoRegular;

	color: $primary;
}

.icon-menu, .icon-search, .icon-library{
	font-size: 30px;
	font-size: 3.0rem;
	color: $slategray;
}

.icon-search{
	float: right;
}

.todayHighlights{
	background-color: $tableTitleBg;
	color: $white;
	padding-top: 1em;
  	padding-bottom: 1em;
  	padding-left: 1em;
  	text-transform: uppercase;
  	@include latoLight;
  	text-align: left;
  	letter-spacing: 0.1214em;  
  	margin: 0 auto; 
}

#mobileMenu.onmenu{

		position: fixed;
		width: 90%;
		top: 2em;
		left: 0;
		z-index: 1337;
		background: rgba(119,136,153, 1);
		color: $white;

		-webkit-transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
		transition: all 0.35s ease-in-out;
		font-size: 1.8rem;

		a{
			display:block;
			color: inherit;
			width: 75%;
			//float: left;
			height: 6rem;
			line-height: 1.85rem;
			max-height: 25%;
			text-align: center;
			border: none;
			border-right: 0.15em solid rgba(255, 255, 255, 0.4);
			padding-top: 1em;
			padding-left: 0.5em;
			padding-right: 0.5em;

			text-align: top;
			@include latoLight;
			font-size: 1.6rem;
		}

		a:hover{
			color: $white;
			text-shadow: 0 0 0.025em rgba(200,200,200,0.1);
			background: rgba(221,160,221, 0.6);
		}

		a:active {
			text-decoration: none;
			color: rgba(255, 255, 255, 0.9);

			border-bottom: 0.1em solid rgba(255, 255, 255, 0.3);
			padding-bottom: .15em;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}

		

		div:nth-child(1) a 
		{
			border-bottom: 0.15em solid rgba(255, 255, 255, 0.4);
		}

}



[role="hourLoc"],
[role="todayEvents"],
[role="services"] {
	@include transition(.2s all ease);			
	width: 95%;
	padding: 0;
	margin-bottom: 3em;
	//margin-left: 3em;
	//margin-right:3em;
}
.js [role="hourLoc"] {	
	background-color: rgba(238, 238, 238, 1.0);
	box-shadow: 0 0 25px rgba(0,0,0, 0.2);
	z-index: 1;
	position: relative;
	margin-left: -100%;
	float: left;
}
.js [role="todayEvents"] {
	margin-left: 0;
	float: left;

	background-color: rgba(238, 238, 238, 1.0);
	//background-color: white;
	box-shadow: 0 0 25px rgba(0,0,0, 0.2);
	z-index: 1;
	position: relative;
}

.js [role="services"] {	
	background-color: rgba(238, 238, 238, 1.0);
	box-shadow: 0 0 25px rgba(0,0,0, 0.2);
	z-index: 1;
	position: relative;
	margin-right: -200%;
	float: left;		
}

.off-canvas-navigation {
	width: 100%;
	overflow: hidden;
	display: block;
	color: #FFF;
	margin: 0 auto;
}

.off-canvas-navigation ul li {
	margin-left:-3em;
	width: 20%;
	display: block;
	float: left;
}

.off-canvas-navigation ul li.services {
	float: right;
}

.hours-locations-button, .service-button{
	padding: 0.5em 20%;
	font-size: 10px;
	font-size: 1em;
	display: block;
	@include highlightBg;
	color: #FFF;
	border-top-right-radius: 1em;
	box-shadow: inset 0 20px 20px rgba(255, 255, 255, 0.1);
	@include latoLight;
}

.service-button{
	padding: 0.5em 1em;
	text-align: right;
	border-top-left-radius: 1em;
	border-top-right-radius: 0;
	//background: rgba(0, 0, 0, 0.15);
}

.events-button{
	margin-left: 5em;
	padding: 0.5em 20%;
	font-size: 10px;
	font-size: 1em;
	display: block;
	background: rgba(0,0,0, 0.3);
	color: #FFF;
	box-shadow: inset 0 20px 20px rgba(255, 255, 255, 0.1);
	@include latoLight;
	text-align: center;
	width: 10rem;
}

::selection {
	background: #FFCCCC;
	color: #000;
	text-shadow: none;
}

.box {
	border:1px solid $borderTopColor;
	-moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;

    h3 {
		//background-color: rgba(229, 24, 55, 0.9);
		@include h3BgColor;
		color:white;
		padding:0.3em 0px;
		text-align: center;
		margin: 0;
	}

    h4 {
		background-color: $subTableTitleBg;
		color: #000;
		padding:0.3em 0px;
		text-align: center;
		margin: 0;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	.primaryDetail a{
		color: $darkItalic2;
		@include primaryTitle;
		font-size: 1.6rem;
	}

	.secondaryDetail{
		color: #000;
	}

	p {
		color:#333;
		padding-left:10px;
		margin: 0.5em auto;
	}

	a.secondaryDetail{
		display: block;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		padding-left: 0.5em;
	}

	a.secondaryDetail:hover{
		background-color: #FBE2E6;
		color: $primary;
	}

	p.primaryDetail:hover{
		background-color: #FBE2E6;
		color: $primary;
	}

}


.active-left [role="hourLoc"] {	
	margin-left: 0;	
	width: 80%;
}
.active-left [role="todayEvents"]{
	margin-right: -100%;
}
.active-left [role="services"] {	
	margin-right: -100%;
	float: right;		
}

.active-right [role="hourLoc"] {	
	margin-left: -100%;
}
.active-right [role="todayEvents"] {
	margin-left: -90%;	
}
.active-right [role="services"] {	
	margin-left: 0;
	width: 80%;	
}

.active-left [role="main"] {
	-webkit-transition: .1s all ease;
	-moz-transition: .1s all ease;
	-o-transition: .1s all ease;		
	-ms-transition: .1s all ease;
	transition: .1s all ease;	
}

	#bigBg{
		display: none !important;
	}	



//for medium screen
@media all and (min-width: 600px) {	

	.hours-locations-button, #tiledMenu{
		display: none;		
	}
	.service-button{
		border: none;
	}

	.js [role="hourLoc"] {
		width: 38%;	
		margin-left: 1%;
		margin-right: 2%;;
	}
	.js [role="todayEvents"] {
		width: 48%;
		float: left;

		margin-right: 2%;
	}
	.js [role="Services"] {
		width: 10%;
	}				
	.active-right [role="hourLoc"] {	
		margin-left: -100%;
	}
	.active-right [role="todayEvents"] {
		margin-left: 0;
		width: 60%;
	}
	.active-right [role="services"] {	
		//margin-right: -80%;
		margin-right: 0;
		width: 30%;

	}	

	#bigBg{
		display: none !important;
	}		
}



#footer{
	clear: both;
	hight: 10em;
	background-color: $slategray;
	color: $white;
	margin-top: 100px;
	@include footerfont;

}
#footer ul {padding-top: 2em;}
#footer ul li {
	display:inline;
	list-style:none;
	padding-left: 2em;

}
#footer ul li:after {}
#footer ul li:last-child:after {}
#footer ul li a {}

.offmode{

	width: 8em;
	position: absolute;
	top: -3em;
	left: 25%;

}
.onmode{
	display:block;
	position: absolute;
	top: 2em;
	left: 20%;
	
	font-size: 2.4em;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

}

.offoutput{
	//fall back
	background-color: $slategray;
	background-color: rgba(119,136,153, 0.9);
	height: 50%;
	width: 90%;
	position: absolute;
	top: 10em;
	left: -100em;
	font-size: 2.4em;	
	z-index:99;

}

.onoutput{
	height: 50%;
	width: 90%;
	position: absolute;
	top: 4em;
	left: 0em;
	font-size: 2.4em;	

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	padding-left: 1em;
	z-index: 1000;

}

.offmenu{
	position: absolute;
	top: 10em;
	left: -40em;

}

.onmenu{
	
	width: 90%;
	position: absolute;
	top: 4rem;
	left: 0em;
	font-size: 2.4em;	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	padding-left: 1em;
	z-index: 1000;
	background-color: white;
}

#output a {

	font-size: 1.6rem;
	color: white;

}

footer #company{
	text-align: left;
	padding-left:5em;
	padding-bottom:5em;
	
}
//big screen
@media all and (min-width: 890px) {	
	.icon-library{
		display: inline-block;
		color: $plum;
	}
	
	.off-canvas-navigation, .icon-menu, #mobileMenu{
		display: none;		
	}

	.icon-search {
		position: absolute;
		top: 0;
		left: 8em;
		-webkit-transition: all 0.5s ease-in-out;
	    -moz-transition: all 0.5s ease-in-out;
	    -o-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	    transition: all 0.5s ease-in-out;
	}

	.js [role="hourLoc"] {
		width: 22%;	
		margin-left: 2%;;
		margin-right: 2%;
		float: left;
		//padding: 1%
	}

	.js [role="todayEvents"] {
		width: 42%;
	//	padding: 1%;
		margin-right: 2%;		
	}

	.js [role="services"] {
		width: 24%;	
	//	padding: 1%;	
		margin-right: 0;
		float: left;
	}	



	#tiledMenu:hover{
		background: rgba(0,0,0, 0.9);
		color: rgba(189,223,238, 0.7);

	}
	#tiledMenu{
		display: inline-block;
		position: fixed;
		width: 45%;
		top: 0;
		right: 0;
		z-index: 1337;
		background: rgba(0, 0, 0, 0.1);
		color: rgba(255, 255, 255, 0.7);
		-webkit-transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
		transition: all 0.35s ease-in-out;
		font-size: 1.8rem;

		a{
			color: inherit;
			width: 25%;
			float: left;
			height: 5em;
			line-height: 1.85em;
			max-height: 25%;
			text-align: center;
			border: none;
			border-right: 0.15em solid rgba(255, 255, 255, 0.4);
			padding-top: 1em;
			padding-left: 0.5em;
			padding-right: 0.5em;
			text-align: bottom;
		}

		a:hover{
			color: $white;
			text-shadow: 0 0 0.025em rgba(200,200,200,0.1);
			background: rgba(221,160,221, 0.6);
		}

		a:active {
			text-decoration: none;
			color: rgba(255, 255, 255, 0.9);

			border-bottom: 0.1em solid rgba(255, 255, 255, 0.3);
			padding-bottom: .15em;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}

		

		div:nth-child(1) a 
		{
			border-bottom: 0.15em solid rgba(255, 255, 255, 0.4);
		}
	}

	#bigBg{
		display: block !important;
		 margin-bottom: 5rem;
	}


	.todayHighlights{
		background-color: rgba(150, 150, 150, 0.8);
			color: $white;
		// padding-top: 1em;
	 //  	padding-bottom: 1em;
	 //  	padding-left: 1em;
	  	text-transform: uppercase;
	  	@include latoRegular;
	  	ttext-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
	  	text-align: left;
	  	letter-spacing: 0.1214em;  

	  	position: absolute;
	  	top: 20%;
	  	left: 20%;
	  	font-size: 3em;

	}

	

	.three-column{
		width: 100%;
	}

	
	.container2{
		max-width: 1140px;
		margin: 0 auto 20px auto;

	}

	.topBg{		
		position: relative;
		margin-bottom: 5em;
	}

	#bigBg{
		display: block !important;
		opacity: 1;
		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 0.4s ease-in-out;
		-ms-transition: opacity 0.4s ease-in-out;
		-o-transition: opacity 0.4s ease-in-out;
		transition: opacity 1s ease-in-out;
	}	

	.onoutput{
	
		background-color: $slategray;
		background-color: rgba(119,136,153, 0.5);
	}


} // end of big screen















