/* watermelon:
Primary: #E51837
less bright: #EAB3BB
lighter: #FBE2E6
lightest: #FBEFF1

border-radius: 4px;
border: solid 1px #7898A5;
background-color: #C5D2D8; (still darker than background) */

$backgroundColor: #D8E1E5;
$borderBottomColor: #CED1D3;
$borderTopColor: #CED1D3;
//$textColor: #535454;
$textColor: #000000;
$white: #ffffff;
$blockBg: #444;

/* red
$tableTitleBg: #E51837;
$subTableTitleBg: #EAB3BB;
$tableBorder: #EAB3BB;
$lightestRed: #FBEFF1;

$primary: #E51837;
$darkItalic: #7898A5;
$darkItalic2: #006363;
*/

// sutle
$tableTitleBg: #344D60; // dark blueish slate gray
$subTableTitleBg:  #d8bfd8;             // #8AA6BC; // light slate gray
$tableBorder: #EAB3BB;
$lightestRed: #FBEFF1;

$primary: #32485A;
$darkItalic: #7898A5;
$darkItalic2: #006363;

$thistle: #d8bfd8;
$plum:#dda0dd;
$slategray: #708090;

//bpl2 design
$backgroundColor: #66C4CA;
$darkItalic2: #3098af;

